.post-content {
  margin-top: 2em !important;
}

.post-header {
  color: #028090 !important;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
}

.post-description {
  margin: 1em 0 !important;
}

.post-comment-count,
.post-tip-total {
  margin-left: 2em !important;
}
