.tooltip__span--content {
  color: black;
  font-style: italic;
}
.tooltip__span--content-light {
  color: white;
  font-style: italic;
}

.tooltip__icon {
  cursor: pointer;
  padding: 2px;
  transition: all .25s ease-in-out;

}
.tooltip__icon:hover {
  transform: scale(1.1);
}
